<!--
    <!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Grosh</title>
    <link rel="stylesheet" type="text/css" href="https://ui-kit.co/figma2html/dist/layout.css?v=2">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gothic A1:800,400">
    <link rel="stylesheet" href="../public/css/style.css">
    <script>
      function submitForm() {
      document.getElementById("form_id").submit();// Form submission
      }
    </script>

  </head>
  -->
<div id="loginForm">
  <form action="#" method="POST" id="form_id">
    <div id="loginItem">
      Email:
      <input type="text" name="Email" id="username" placeholder="Example@email.com">
    </div>
    <div id="loginItem">
      Password:
      <input type="password" name="Password" id="password" placeholder="Password">
    </div>
    <div id="loginItem">
      Password:
      <input type="submit" name="Password" id="loginButton" value="Login">
    </div>

  </form>
</div>

<!-- partial:index.partial.html -->
<!-- Title -->
<div class="left top component" id="iphoneFrame">
  <!-- Rectangle -->
  <div class="left top rectangle" id="getStartedButton" onclick="submitForm()"></div>
  <!-- Get Started -->
  <div class="left top button" id="buttonText" onclick="submitForm()">Login</div>
  <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit -->
  <!-- <div class="left top text" id="flavorText">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div> -->
  <!-- Grosh -->
  <div class="left top text" id="mainTitle">Grosh</div>
  <!-- 59bedb177a216d0b052f128a 1 -->
  
</div>

<!-- partial -->

